body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #87ceeb, #00bfff);
  position: relative;
}

.content {
  background-color: white;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: appear 1s ease-out forwards;
  opacity: 0;
}

@keyframes appear {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

h1 {
  font-size: 2em;
  color: #00bfff;
  margin-bottom: 30px;
}

.start-button {
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #00bfff;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.start-button:hover {
  background-color: #87ceeb;
}

.about-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #00bfff;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.about-button:hover {
  background-color: #87ceeb;
}

.side-panel {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #00bfff;
  transition: right 0.3s ease, background-color 0.3s ease;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-panel.open {
  right: 0;
  background-color: #1e90ff;
}

.panel-content {
  color: white;
  text-align: center;
  padding: 20px;
}

.panel-content h2 {
  margin-bottom: 20px;
}

.panel-content h3 {
  margin-bottom: 10px;
}

.panel-content ul {
  list-style-type: none;
  padding: 0;
}

.panel-content li {
  margin: 10px 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}